- title "Choose Customer", true, {fa_icon: 'tachometer'}

- content_for(:sidebar) do
  = render 'home_tabs', active_tab: 'general'
- if @customers.empty?
  %ul
    %li You don't have any customers assigned. Contact your account rep to gain access to a customer account.
- else
  %ul
    - @customers.each do |customer|
      %li= link_to customer.business_name, customer_selected_path(chosen_customer: customer), method: :post
